<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Panda Economist</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="Stylesheet" href="index.css" />
    </head>
    <body>
        <div id='root'>
            <div class='box' id='logo'></div>
            <div class='box' id='nav-bar'></div>
            <div class='box' id='container'>
                <div class='box' id='calendar-section'></div>
                <div class='box' id='outlay-section'>
                    <div class='box' id='new-outlay'></div>
                    <div class='box' id='regular-outlay'></div>
                    <div class='box' id='manage-outlay'></div>
                </div>
                <div class='box' id='income-section'>
                    <div class='box' id='new-income'></div>
                    <div class='box' id='regular-income'></div>
                    <div class='box' id='manage-income'></div>
                </div>
                <div class='box' id='manage-forecast'></div>
                <div class='box' id='manage-balance'></div>
                <div class='box' id='statistics'></div>
            </div>
            <div class='box' id='footer'></div>
        </div>
    </body>
</html>