* {
  font-family: arial, helvetica, serif;
  color: #333;
  padding: 0;
  margin: 0; }

body {
  padding-top: 100px; }

h1, h2, h3, h4, h5 {
  font-size: 18px;
  font-weight: normal;
  color: #555; }

input[type=button] {
  padding: 0px 10px; }

#daySpendsWrapper {
  width: 100%;
  position: relative; }

#tools-panel {
  position: relative;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  margin: 10px;
  padding-top: 10px;
  text-align: center; }

#spendsContainer {
  width: 800px;
  padding: 10px;
  margin: 0px auto; }

#tools-panel {
  border: solid #aaa 1px;
  background: #eee; }

.noneDisplay {
  display: none; }

.displayBlock {
  display: block; }

#categories {
  position: fixed;
  left: 25%;
  top: 120px;
  width: 50%;
  padding: 10px;
  background: white;
  border: solid #ddd 1px; }

nav {
  width: 100%;
  padding: 20px 0px;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000; }

#daySpendsWrapper button {
  padding: 10px 15px 10px 3px;
  position: absolute;
  left: 0px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
  font-size: 17px; }

.buttonsContainer {
  position: fixed; }

.toolsButton {
  top: 15px;
  background-color: #E53B2C; }

.computingButton {
  top: 80px;
  background-color: #1BAD58; }

#spendsTools {
  position: absolute;
  width: 150px;
  border: solid grey 1px;
  background: white;
  left: 60px;
  top: 15px; }
  #spendsTools li {
    list-style: none;
    position: relative; }
  #spendsTools a {
    display: block;
    color: #333;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-top: solid #aaa 1px; }
  #spendsTools a:hover {
    background: #ddd; }

#resultOfComputing {
  margin: 0px auto;
  width: 800px;
  padding-left: 20px; }
  #resultOfComputing input {
    width: 80px; }

#spendsContainer h1 {
  font-size: 30px; }

.cost-field {
  border: solid #aaa 1px;
  margin-top: 20px;
  padding: 10px; }
  .cost-field label {
    margin-right: 20px; }

.costInput {
  width: 80px; }

#categories ul {
  padding-left: 30px; }

.categoriesListContainer {
  padding: 10px; }

.addCategoryContainer {
  margin-top: 10px;
  padding: 10px;
  border-top: solid grey 1px; }

.logo {
  float: left;
  font-size: 36px;
  font-weight: bold; }

.horizNav {
  float: left; }
  .horizNav li {
    list-style: none;
    float: left; }
  .horizNav a {
    display: block;
    font-size: 18px;
    margin: 11px 0px 0px 25px;
    padding: 5px 7px;
    text-decoration: none;
    border-radius: 5px; }
  .horizNav a:hover {
    background-color: #eee; }
  .horizNav a:active {
    background-color: #E53B2C; }
